*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  height: 100vh;
  background-color: antiquewhite;
  font-family: sans-serif;
}

.heading{
  font-size: 40px;
}

.score{
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.choice{
  height: 20vh;
  display: flex;
  justify-content: space-around;
}

.computer-hand{
  width: 350px;
}

.user-hand{
  width: 350px;
  transform: rotateY(180deg);
}

.button-div{
  display: flex;
  justify-content: center;
  padding: 20px;
}

.button{
  width: 150px;
  height: 50px;
  font-size: medium;
  margin-right: 2px;
  justify-content: space-around;
  align-items: center;
  background-color:chocolate;
  color: azure;
  border-radius: 5px;
  border: 1px solid chocolate;
  cursor: pointer;
}

button:hover {
  font-size: larger;
  border: 1px solid coral;
  background-color:crimson;
  color: #ffffff;
  padding: 5px 10px;
}

button:disabled,
button[disabled]{
  font-size: medium;
  border: 1px solid darkred;
  background-color:darkred;
  color: #666666;
}

.btn-restart{
  width: 250px;
}

.turnResult{
  padding: 25px;
}

.result{
  padding: 50px;
  font-size:xx-large;
}

.user{
  color: green;
}

.computer{
  color: red;
}

.draw{
  color: gray;
}

.loading{
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  animation: bottom-to-top 1s ease-in-out forwards;
}

@keyframes bottom-to-top {
  0%{
    transform: translateY(40%);
  }

  66%{
    transform: translateY(70%);
  }

  100%{
    transform: translateY(65%);
  }  
}

@media (max-width: 1500px) {
  .computer-hand{
    width: 225px;
  }
  
  .user-hand{
    width: 225px;
  }

  @keyframes bottom-to-top {
    0%{
      transform: translateY(70%);
    }
  
    66%{
      transform: translateY(100%);
    }
  
    100%{
      transform: translateY(95%);
    }  
  }
}

@media (max-width: 575px) {
  .computer-hand{
    width: 200px;
  }
  
  .user-hand{
    width: 200px;
  }

  .result{
    padding: 20px;
    font-size:large;
  }
  .loading{
    width: 100%;
  }

  @keyframes bottom-to-top {
    0%{
      transform: translateY(120%);
    }
  
    66%{
      transform: translateY(150%);
    }
  
    100%{
      transform: translateY(145%);
    }  
  }
}